[discord]
# You can get your bot token by going here https://discordapp.com/developers/applications
# Ensure that you have registered your application as a bot user, as you need your TOKEN not your Client ID
bot_token = "bot user token goes here"
admin_id = "the bot owner user id goes here"


[database]
filename = "database.db"


[du-bot]
default_now_playing = "InDev"
command_prefix = "~"

# Total number of minutes to wait in between each rss fetch (per run, not per feed) Setting this too low may result
# In sites blocking your requests. It is not recommended to set this below 3.
rss_fetch_timeout = 15

# The total number of things to list per page (used for <command list> command)
# 5 is a good default as too high will cause message lengths to overrun resulting in responses not displayed
# Minimum value is 2
per_page_count = 5

# Minutes between updating notifications
notifications_update_timeout = 5

# Minutes between running the Giveaway Timer
giveaway_timer = 1

# Giveaway Announcements Channel ID
giveaway_channel = ""

# Max number of seconds to run a lua script before terminating
lua_timeout = 10

# This setting determines the max length of a youtube video to download and convert in minutes
# 120 minutes is 2 hours, which may be excessive for your use case.
max_audio_duration = 120

enable_profiler = false


[bank]
bank_name = "Discord Bank"
bank_url = ""
bank_icon_url = ""
# Set this to something long and unique
bank_pin = ""

# Setting this to true will only reset the bank wallet, it will not reset accounts
reset_bank = false

starting_bank_wallet_value = 1000000
starting_user_account_value = 1000
starting_user_wallet_value = 500

bank_menu_slogan = "Have a great day!"

[casino]
casino_name = "Discord Casino"

# Set this to something long and unique
casino_pin = ""

# Setting this to true will only reset the casino wallet, it will not reset accounts
reset_casino = false

starting_casino_wallet_value = 10000000

# For the auto roles system
[roles]
# Time between reading role timers on users in minutes, recommended 10 or higher
roles_timer = 15
# Time between sending requests to the discord api to update roles
roles_updater_timer = 1

# These are used with the forum authorization roles system
contributor_role = ""
sponsor_role = ""
patron_role = ""
atv_role = ""
iron_role = ""
bronze_role = ""
silver_role = ""
gold_role = ""
sapphire_role = ""
ruby_role = ""
emerald_role = ""
diamond_role = ""
kyrium_role = ""
forumlinked_role = ""
atvforumlinked_role = ""
prealpha_role = ""
nda_channel_id = ""